[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/IMAT3904/glfw
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/react3d/reactphysics3d"]
	path = vendor/react3d/reactphysics3d
	url = https://github.com/IMAT3905/reactphysics3d.git
[submodule "vendor/ImGui"]
	path = vendor/ImGui
	url = https://github.com/TheCherno/imgui.git
[submodule "vendor/luaAPI"]
	path = vendor/luaAPI
	url = https://github.com/IMAT3905/lua
[submodule "vendor/LuaBridge"]
	path = vendor/LuaBridge
	url = https://github.com/vinniefalco/LuaBridge.git
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://github.com/IMAT3905/lua.git
